<form #login="ngForm" (ngSubmit)="onLogin(login)">
     <input type="text" placeholder="username" [(ngModel)]="credentials.username" #username="ngModel" name="username" ngControl="username">
     <input type="password" placeholder="password" [(ngModel)]="credentials.password" #password="ngModel" name="password" ngControl="password">
     <button type="submit">Submit</button>
</form>

<button (click)="this.onLogout()">Logout</button>

<form #register="ngForm" (ngSubmit)="onRegister(register)">
     <input type="text" placeholder="username" [(ngModel)]="user.username" #username="ngModel" name="username" ngControl="username">
     <input type="password" placeholder="password" [(ngModel)]="user.password" #password="ngModel" name="password" ngControl="password">
     <input type="text" placeholder="fullname" [(ngModel)]="user.fullname" #fullname="ngModel" name="fullname" ngControl="fullname">
     <button type="submit">Submit</button>
</form>
