main {
  display: flex;
  flex-direction: row;
}

select, input, textarea {
  display: block;
  width: 100%;
  margin: 10px 0px;
}

article {
  padding: 10px;
}

.new-note {
  order: 0;
}

.notes {
  width: 40%;
  order: 1;
}

.notes li.card {
  border: 1px solid gray;
  padding: 20px;
    margin-bottom: 20px;
}

span.details {
  font-size: 8pt;
}

button {
  float: right;
  border: none;
}

.folders {
  order: 2;
}

.tags {
  order: 3;
}
