main {
  display: flex;
  flex-direction: row;
}

input {
  display: block;
}

textarea {
  display: block;
}
.new-note {
  order: 0;
}
.notes {
  order: 1;
}

.folders {
  order: 2;
}

.tags {
  order: 3;
}
