<main>
<article class="new-note">
<h3>Add New Note</h3>
<form #noteForm="ngForm" id="note-edit-form" (ngSubmit)="submitForm(noteForm)">
      <input [(ngModel)]="note.title" placeholder="title" name="title" #title="ngModel" required/>
      <textarea [(ngModel)]="note.content" placeholder="content" #content="ngModel" name="content" required></textarea>
      <select [(ngModel)]="note.folderId" #folderId="ngModel" name="folderId">
        <option value="" selected="">Folder</option>
        <option *ngFor="let folder of folders"  value="{{folder.id}}">{{folder.name}}</option>
      </select>
      <select multiple [(ngModel)]="note.tags" #folderId="ngModel" name="tags">
          <option *ngFor="let tag of tags"  value="{{tag.id}}">{{tag.name}}</option>
      </select>
      <button type="submit" [disabled]="!noteForm.form.valid">save</button>
</form>
</article>

<article class="notes">
<h1>Notes</h1>

<ul>
  <li *ngFor="let note of notes">
    <span class="title">{{note.title}}</span> {{note.content}}
    <span class="details">Folder: {{note.folder}} </span>
    <span class="delete"><button (click)="delete()">x</button></span>
  </li>
</ul>
</article>

<article class="folders">
  <app-folders (newFolder)="newFolder($event)"></app-folders>
</article>

<article class="tags">
  <app-tags (newFolder)="newTag($event)"></app-tags>
</article>


</main>
