/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
* {
  box-sizing: border-box;
}


/* reset ul and li formatting */

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0.1em;
}

input,
textarea,
button {
  margin: 0;
}


/* Make header sizes more sane */

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: large;
}

h2 {
  font-size: medium;
}

h3 {
  font-size: small;
}


/***** STRUCTURE *****/

body {
  min-height: 100vh;
  background-color: #353d44;
  color: #d7d9db;
}


/* Define Main as flex ROW */

body>main {
  display: flex;
  /* Total height minus Header and Footer */
  height: calc(100vh - 6em);
  min-height: 400px;
  position: relative;
}

/* article gets 1 portion, effectively the rest of the row */

main article {
  flex: 1;
}



body>header,
body>footer {
  background-color: #292f35;
}

input,
textarea,
button {
  background-color: #4e565d;
  color: #FFFFFF;
  border: 1px solid #929fad;
  border-radius: 4px;
}

article input,
article textarea,
article button {
  color: #FFFFFF;
  border: 1px solid #929fad;
  border-radius: 4px;
}

a {
  color: #d7d9db;
  text-decoration: none;
}

select {
  background-color: #4e565d;
  color: #FFFFFF;
  display: inline-block;
}
